.font_montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font_bungee {
    font-family: 'Bungee Spice', sans-serif;
}

.font_nabla {
    font-family: 'Nabla', sans-serif;
}

span {
    font-family: 'Nabla', sans-serif;
}

.weight-900 {
    font-weight: 900;
}
