.second_page{
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAA9A9;
    margin: 0;
    padding: 10px;
}

main {
    display: flex;
}

footer {
    align-items: center;
    background-color: #FAA9A9;
    height: 70px;
}

.discounts {
    width: 300px;
    padding: 10px;
}

.pizza_img {
    width: 700px;
    height: 450px;
}

.pizza_button {
    position: relative;
    left: 50%;
    transform: translateX(-100%);
    margin: 15vh 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.order_place {
    position: absolute;
    background-color: #df8080;
    width: 500px;
    height: 400px;
    top: 100px;
    left: 50%;
    padding: 20px;
    border-radius: 15px;
    transform: translateX(-50%);
    z-index: 2;
}

.inputQuestions {
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

p {
    color: #3a3a3a;
}

.submit {
    border-radius: 15px;
    border: none;
    background-color: #c26e6e;
    color: #fff;
    width: 100px;
    height: 50px;
    font-size: 15px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur( 4px );
    background-color: #a7a6a6;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}


.hidden {
    display: none;
}

a {
    text-decoration: none;
}