body {
    background-image: linear-gradient(135deg, #cff44890, #f4994890), url(https://lh4.googleusercontent.com/5DYf4ri4tyMF7KXrOmieoGx0aBrV9r2l9dxnTjUgZJr0LC2yrVu1ENFJnZygpUy32QlPcZ86HJHBLIncu_uiGjzIpwpW-NZ6TeDPLPJJPvKI02yLPFIWz9ya1g4NFSPbGg=w640);
    background-repeat: no-repeat;
    background-size: 450px 350px;
    padding: 20px 0;
}